.form-text {
  color: $text-muted;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control-rounded {
  border-radius: 20rem;
}

.form-control-flush {
  padding: 0;
  border-width: 0;
  box-shadow: none;
  background-color: transparent;
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}