@import './variables';

@import 'ui-learnplus-bootstrap/scss/app';
@import 'bootstrap-custom-checkbox-toggle/bootstrap-custom-checkbox-toggle';
@import 'fm-avatar/avatar';

@import './code';
@import './rating';
@import './learnplus';

.z-2 {
  position: relative;
  z-index: 2;
}

@include media-breakpoint-up(lg) {
  #changelog-nav {
    top: 8rem; 
    max-height: calc(100vh - 8rem);
  }
}

.feature-tabs {
  .card {
    font-weight: 500;
    transition: all .3s;
  }
  .active {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    a {
      color: $primary;
    }
  }
  .card:not(.active) {
    color: rgba($body-color, .5);
    .feature-tabs__icon {
      opacity: .7;
    }
  }
}