@import './variables';

@import 'ui-learnplus-bootstrap/scss/app';
@import 'bootstrap-custom-checkbox-toggle/bootstrap-custom-checkbox-toggle';
@import 'fm-avatar/avatar';

@import './code';
@import './rating';
@import './learnplus';
@import './page-separator';

.z-2 {
  position: relative;
  z-index: 2;
}

.row-cards [class*="col"] {
  display: flex;
  flex-direction: column;
  .card {
    flex: 1 1 0%;
  }
}

.bg-hover-scroll {
  height: 200px;
  position: relative;
  display: block;
  transition: background-position 1s ease-out;
  background-position: top center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  &:hover {
    background-position: bottom center !important;
  }
}

@include media-breakpoint-up(lg) {
  #changelog-nav {
    top: 8rem; 
    max-height: calc(100vh - 8rem);
  }
}

.feature-tabs {
  .card {
    font-weight: 500;
    transition: all .3s;
  }
  .active {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    a {
      color: $primary;
    }
  }
  .card:not(.active) {
    color: rgba($body-color, .5);
    .feature-tabs__icon {
      opacity: .7;
    }
  }
}