<div class="card" id="changes">
  <div class="card-body">
    <h4>Changes</h4>
    <ul>
      <li>remove gulp and upgrade to webpack using <a href="https://github.com/FrontendMatter/theme-mix">theme-mix</a></li>
      <li>upgrade <a href="https://github.com/twbs/bootstrap/tree/v4.0.0-beta.2">Bootstrap</a> to v4 beta 2</li>
      <li>bump <a href="https://github.com/FrontendMatter/material-design-kit">material-design-kit</a> to 1.0.0-alpha.17</li>
      <li>bump <a href="https://github.com/FrontendMatter/dom-factory">dom-factory</a> to 1.0.0-alpha.7</li>
      <li>bump <a href="https://github.com/FrontendMatter/sidebar-style-guide">sidebar-style-guide</a> to 2.0.0</li>
      <li>upgrade src html templating to <a href="https://mozilla.github.io/nunjucks/">nunjucks</a></li>
      <li>move <code>src/data</code> to <code>dist/assets/data</code></li>
      <li>move <code>src/js/examples/scripts</code> to <code>src/js/examples</code></li>
      <li>move <code>dist/examples/js</code>, <code>dist/examples/css</code> to <code>dist/assets</code></li>
      <li>drop <code>.min.css</code> and <code>.min.js</code> extensions</li>
      <li>switch tether with popper</li>
      <li>replace <code>mdk-js-*</code> initializer classes with <code>js-mdk-*</code></li>
      <li>upgrade fullbleed app layouts to flexbox</li>
      <li>replace <code>.media-middle</code> with <code>.align-items-center</code></li>
      <li>fix quiz sidebar countdown spacing</li>
      <li>add <code>.sidebar-menu-icon--left</code> spacing utility to sidebar menu icons</li>
      <li>replace <code>.sidebar-menu-label</code> with <code>.sidebar-menu-badge</code></li>
      <li>replace <code>.tag-*</code> with <code>.badge-*</code></li>
      <li>remove <code>.pull-*</code> <code>.push-*</code> grid classes</li>
      <li>replace <code>.text-xs-*</code> with <code>.text-*</code></li>
      <li>replace <code>.card-block</code> with <code>.card-body</code></li>
      <li>replace <code>.card-primary</code> with <code>.bg-primary.text-white</code></li>
      <li>replace <code>.card-success</code> with <code>.bg-success.text-white</code></li>
      <li>replace <code>.card-info</code> with <code>.bg-info.text-white</code></li>
      <li>replace <code>.card-inverse</code> with <code>.bg-dark.text-white</code></li>
      <li>replace <code>.card-gray</code> with <code>.bg-dark.text-white</code></li>
      <li>replace <code>.bg-inverse</code> with <code>.bg-dark</code></li>
      <li>replace <code>.navbar-inverse</code> with <code>.navbar-dark</code></li>
      <li>replace <code>.hidden-xs-down</code> with <code>.d-none.d-sm-block</code></li>
      <li>replace <code>.hidden-sm-down</code> with <code>.d-none.d-md-block</code></li>
      <li>replace <code>.hidden-md-down</code> with <code>.d-none.d-lg-block</code></li>
      <li>replace <code>.badge-default</code> with <code>.badge-light</code></li>
      <li>add <code>.media</code> or <code>.d-flex</code> to <code>.list-group-item</code> where necessary</li>
      <li>replace <code>.float-xs-*</code> with <code>.float-*</code></li>
      <li>replace <code>.btn-(.*)-outline</code> with <code>.btn-outline-$1</code></li>
      <li>add missing instructor help center page</li>
      <li>improve cards page formatting</li>
      <li>upgrade progress bars</li>
      <li>upgrade sidebar collapsing menus</li>
      <li>upgrade sidebar active links for ui component pages</li>
    </ul>
  </div>
</div>