<a class="nav-link active" href="#packages">Packages</a>
<a class="nav-link" href="#source">Source</a>
<a class="nav-link" href="#fixes">Fixes</a>
<a class="nav-link" href="#general">General</a>
<a class="nav-link" href="#typography">Typography</a>
<a class="nav-link" href="#components">Components</a>
<a class="nav-link" href="#plugins">Plugins</a>
<a class="nav-link" href="#dropdown">Dropdown</a>
<a class="nav-link" href="#icons">Icons</a>
<a class="nav-link" href="#forms">Forms</a>
<a class="nav-link" href="#tables">Tables</a>
<a class="nav-link" href="#student">Student pages</a>
<a class="nav-link" href="#instructor">Instructor pages</a>
<a class="nav-link" href="#layouts">Layouts</a>
<a class="nav-link" href="#sidebar">Sidebar</a>
<a class="nav-link" href="#navbar">Navbar</a>
<a class="nav-link" href="#forum">Forum</a>