<div class="card" id="changes">
  <div class="card-body">
    <h4>Changes</h4>
    <ul>
      <li>fix markup validation issues</li>
      <li>add custom scrollbars to all drawers</li>
      <li>cleanup messages page</li>
      <li>add <a href="https://github.com/Grsmto/simplebar">simplebar</a> v2.5.1</li>
      <li>bump <a href="https://github.com/FrontendMatter/material-design-kit">material-design-kit</a> to 1.0.0-alpha.18</li>
      <li>bump <a href="https://github.com/FrontendMatter/dom-factory">dom-factory</a> to 1.0.0-alpha.8</li>  
    </ul>
  </div>
</div>