// input normal
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: .75rem !default;

// button normal
$btn-font-size-base: 1.063rem !default;
$btn-padding-y: .5rem !default;
$btn-padding-x: 1rem !default;

// button large
$btn-padding-x-lg: 2rem !default;