$grid-breakpoints: (
  xs: 0,
  xs-plus: 413px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px
) !default;

$container-max-widths: (
  sm: 520px,
  md: 720px,
  lg: 960px,
  xxl: 1120px
) !default;

$grid-gutter-width:                 1.25rem !default;