---
title: LearnPlus - Components
slug: components
bodyClass: layout-sticky-subnav
---
{% extends "layouts/fixed.html" %}

{% block page %}
<div class="bg-gradient-primary py-32pt py-lg-64pt">
  <div class="{{ containerClass }} page__container">
    <div class="hero text-center">
      <div class="d-inline-flex align-items-center mb-24pt">
        <div class="avatar mr-3">
          <img src="assets/images/logo/white.svg" alt="LearnPlus" class="avatar-img" />
        </div>
        <span class="badge badge-primary">v4.0.0</span>
      </div>
      <h1 class="text-white">LearnPlus components</h1>
      <p class="lead measure-lead-max mx-auto text-white-50">In addition to the default Bootstrap Components, LearnPlus includes many custom components suited to learning aplications.</p>
    </div>
  </div>
</div>

{% include 'layouts/_navbar.secondary.html' %}

<div class="py-32pt text-center {{ containerClass }} page__container">
  
  {% set components = [{
    description: "Avatars",
    image: "assets/images/choose/components/avatars.svg",
    href: "ui-avatars.html"
  }, {
    description: "Icons",
    image: "assets/images/choose/components/icons.svg",
    href: "ui-icons.html"
  }, {
    description: "Loaders",
    image: "assets/images/choose/components/loaders.svg",
    href: "ui-loaders.html"
  }, {
    description: "Charts",
    image: "assets/images/choose/components/charts.svg",
    href: "ui-charts.html"
  }, {
    description: "Drag and Drop",
    image: "assets/images/choose/components/drag.svg",
    href: "ui-drag.html"
  }, {
    description: "Nestable",
    image: "assets/images/choose/components/nestable.svg",
    href: "ui-nestable.html"
  }, {
    description: "Tree",
    image: "assets/images/choose/components/tree.svg",
    href: "ui-tree.html"
  }, {
    description: "Toggle",
    image: "assets/images/choose/components/toggle.svg",
    href: "ui-forms.html"
  }, {
    description: "Search",
    image: "assets/images/choose/components/search.svg",
    href: "ui-forms.html"
  }, {
    description: "Merge Group",
    image: "assets/images/choose/components/merge-group.svg",
    href: "ui-forms.html"
  }, {
    description: "Flatpickr",
    image: "assets/images/choose/components/flatpickr.svg",
    href: "ui-forms.html"
  }, {
    description: "Rich Text Editor",
    image: "assets/images/choose/components/quill.svg",
    href: "ui-forms.html"
  }] %}
  
  <div class="row">
    {% for item in components %}
    <div class="col-sm-6 col-md-4">
      <a href="{{ demo_url }}{{ item.href }}" target="_blank" class="d-block-inline card card-sm text-decoration-0">
        {% if item.image %}
        <img src="{{ item.image }}" alt="{{ item.description }}" class="img-fluid">
        {% endif %}
        <span class="d-block card-body text-body">
          <strong>
            {% if item.description %}
              {{ item.description | safe }}
            {% else %}
              {{ item | safe }}
            {% endif %}
          </strong>
        </span>
      </a>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}