---
title: LearnPlus - Instructor
slug: instructor
bodyClass: layout-sticky-subnav
---
{% extends "layouts/fixed.html" %}

{% block page %}
<div class="bg-gradient-primary py-32pt py-lg-64pt">
  <div class="{{ containerClass }} page__container">
    <div class="hero text-center">
      <div class="avatar avatar-lg mb-3">
        <img src="assets/images/icon/teacher/white.svg" alt="Instructor" class="avatar-img" />
      </div>
      <h1 class="text-white">Instructor</h1>
      <p class="lead measure-lead-max mx-auto text-white-50">A collection of website pages designed to provide teachers with a complete publishing platform for learning. Inspired from the most popular learning platforms on the web today.</p>
      <a href="{{ demo_url }}instructor-dashboard.html" target="_blank" class="btn btn-lg btn-outline-white btn-rounded">Instructor demo</a>
    </div>
  </div>
</div>

{% include 'layouts/_navbar.secondary.html' %}

<div class="py-32pt py-lg-64pt {{ containerClass }} page__container">

  {% set instructor = [
    {
      title: "Instructor Dashboard",
      description: "Page with earnings statistics displaying the last 30 days, sales by Course, latest transactions and latest student comments",
      image: "assets/images/choose/instructor/dashboard.png",
      href: "instructor-dashboard.html"
    },
    {
      title: "Course Manager",
      description: "Page displaying the instructor courses portfolio",
      image: "assets/images/choose/instructor/manage-courses.png",
      href: "instructor-courses.html"
    },
    {
      title: "Add or Edit Course",
      description: "Page editor for course title, description, sortable associated lessons, course video, course meta with category, duration, start and end date and completion badges.",
      image: "assets/images/choose/instructor/edit-course.png",
      href: "instructor-course-edit.html"
    },
    {
      title: "Create or Edit Lesson",
      description: "Page editor with lesson title, associated course, lesson video, and drag &amp; drop file uploader.",
      image: "assets/images/choose/instructor/edit-lesson.png",
      href: "instructor-lesson-add.html"
    },
    {
      title: "Create or Edit Quiz",
      description: "Page editor with basic quiz information such as title, associated course, image uploader, quiz time limit, sortable quiz questions and a custom question modal interface",
      image: "assets/images/choose/instructor/edit-quiz.png",
      href: "instructor-quiz-edit.html"
    },
    {
      title: "Review Quiz",
      description: "Page displaying the submissions and review history for a single quiz, with review options and score assignment per question for instructors",
      image: "assets/images/choose/instructor/review-quiz.png",
      href: "instructor-review-quiz.html"
    },
    {
      description: "<strong>Instructor Public Profile</strong> displaying the instructor rating and a public portfolio of all the courses by the instructor",
      image: "assets/images/choose/instructor/profile.png",
      href: "instructor-profile.html"
    },
    {
      title: "Messages",
      description: "Page for system notifications or student / instructor private messaging",
      image: "assets/images/choose/instructor/messages.png",
      href: "instructor-messages.html"
    },
    {
      title: "Earnings",
      description: "Page with sales statistics by year and by course",
      image: "assets/images/choose/instructor/earnings.png",
      href: "instructor-earnings.html"
    },
    {
      title: "Statement",
      description: "Page with detailed transaction history",
      image: "assets/images/choose/instructor/statement.png",
      href: "instructor-statement.html"
    }
  ] %}

  <!-- <h2>Instructor Application</h2>
  <p class="lead measure-lead text-black-70 mb-32pt">A collection of 8 website pages designed to provide teachers with a complete publishing platform for learning. Inspired from the most popular learning platforms on the web today.</p> -->

  <div class="card-columns card-columns--3">
    {% for item in instructor %}
    <div class="card card-sm">
      {% if item.image %}
      <a href="{{ demo_url }}{{ item.href }}" target="_blank" class="preview">
        <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid">
      </a>
      {% endif %}
      <div class="card-body">
        {% if item.title %}
          <strong class="text-body">{{ item.title | safe }}</strong><br>
        {% endif %}
        {% if item.description %}
          <span class="text-black-70">{{ item.description | safe }}</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}