---
title: LearnPlus - Utility
slug: utility
bodyClass: layout-sticky-subnav
---
{% extends "layouts/fixed.html" %}

{% block page %}
<div class="bg-gradient-primary py-32pt py-lg-64pt">
  <div class="{{ containerClass }} page__container">
    <div class="hero text-center">
      <div class="avatar avatar-lg mb-3">
        <img src="assets/images/icon/template/white.svg" alt="Utility" class="avatar-img" />
      </div>
      <h1 class="text-white">Utility pages</h1>
      <p class="lead measure-lead-max mx-auto text-white-50 mb-0">Every website needs these pages. Forget about login, signup, forgot password and more. We've got it.</p>
    </div>
  </div>
</div>

{% include 'layouts/_navbar.secondary.html' %}

<div class="py-32pt py-lg-64pt {{ containerClass }} page__container">

  {% set pages = [{
    title: "Edit Account",
    image: "assets/images/choose/student/edit-account.png",
    href: "student-account-edit.html"
  }, {
    title: "Invoice",
    image: "assets/images/choose/student/invoice.png",
    href: "student-invoice.html"
  }, {
    title: "Login",
    image: "assets/images/choose/utility/login.png",
    href: "guest-login.html"
  }, {
    title: "Signup",
    image: "assets/images/choose/utility/signup.png",
    href: "guest-signup.html"
  }] %}
  
  <div class="card-columns card-columns--3">
    {% for item in pages %}
    <div class="card card-sm">
      {% if item.image %}
      <a href="{{ demo_url }}{{ item.href }}" target="_blank" class="preview">
        <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid">
      </a>
      {% endif %}
      <div class="card-body">
        {% if item.title %}
          <strong class="text-body">{{ item.title | safe }}</strong><br>
        {% endif %}
        {% if item.description %}
          <span class="text-black-70">{{ item.description | safe }}</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}