{% set base_layout = base_layout or 'layouts/fixed.html' %}
{% set release_version = release_version or 'Version' %}
{% set bodyClass = 'layout-sticky-subnav' %}
{% extends base_layout %}

{% block page %}
<div class="bg-gradient-primary py-32pt z-2">
  <div class="{{ containerClass }} page__container">
      
    <div class="d-flex align-items-center">
      <div class="avatar mr-2" style="opacity: .5">
        <img src="assets/images/icon/prototype/white.svg" alt="Changelog" class="avatar-img" />
      </div>
      <h4 class="text-white-50 mb-0">{{ title }}</h4>
    </div>

  </div>
</div>

{% include 'layouts/_navbar.documentation.html' %}

<div class="py-32pt pb-lg-64pt {{ containerClass }} page__container">
  <div class="row">
    <div class="col-lg-9">
      <h1 class="d-flex align-items-center mb-0">LearnPlus Bootstrap <span class="ml-3 badge badge-dark text-base">{{ release_version }}</span></h1>
      <p class="text-black-70 mb-4">Released on {{ release_date or '' }}</p>

      {{ super() }}
    </div>
    <div 
      class="col-lg-3 page-nav" 
      data-perfect-scrollbar 
      id="changelog-nav">
      <div class="page-section pt-lg-32pt">
        <nav class="nav page-nav__menu">
          {% block page_nav_menu %}
            {% include 'partials/page_nav_menu.' + slug + '.html' ignore missing %}
          {% endblock %}
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'partials/footer.changelog.html' %}
{% endblock %}