<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>

  {% include 'layouts/_header.html' %}

  {% block head %}
    {% include 'partials/head.' + slug + '.html' ignore missing %}
  {% endblock %}

  {% block vendor_styling %}{% endblock %}

  {% block header_scripts %}{% endblock %}

</head>
<body class="{{ bodyClass or '' }} learnplus fixed-layout">

  {% set prefix = '' %}
  {% set containerClass = 'container' %}
  {% set navbarContainerClass = 'container-fluid' %}
  {% set demo_url = 'http://learnplus-bootstrap.frontendmatter.com/' %}

  {% include 'layouts/_preloader.html' %}

  <!-- Header Layout -->
  <div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->
    {% block header %}
      <div 
        id="header" 
        class="mdk-header bg-dark js-mdk-header m-0" 
        data-fixed 
        data-effects="waterfall">
        <div class="mdk-header__content">
          {% block navbar %}
            {% include 'layouts/_navbar.html' ignore missing %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">
      <div class="page">
        {% block page %}
          {% include 'partials/page.' + slug + '.html' ignore missing %}
        {% endblock %}
        <div class="{{ containerClass }} page__container">
          <div class="footer">
            Copyright &copy; 2016 - <a href="http://themeforest.net/item/learnplus-learning-management-application/15287372?ref=mosaicpro" target="_blank">Purchase LearnPlus</a>
          </div>
        </div>
      </div>
    </div>
    <!-- // END Header Layout Content -->

  </div>
  <!-- // END Header Layout -->

  {% include "layouts/_footer.html" %}

  {% block footer %}
    {% include 'partials/footer.' + slug + '.html' ignore missing %}
  {% endblock %}
</body>
</html>